name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - run: npm install
      - run: npm run typecheck
      - run: npm run lint

  test:
    name: Node ${{ matrix.node-version }}, Mongoose ${{ matrix.mongoose-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
        mongoose-version: [8, 9]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm install
      - run: npm install mongoose@${{ matrix.mongoose-version }}
      - run: npm test
